In [45]:
import pandas as pd
import time
import os
import random

In [46]:
def save_to_csv(df, filename):
    if not os.path.isfile(filename):
        df.to_csv(filename, index=False)
    else:  
        df.to_csv(filename, mode='a', header=False, index=False)

In [47]:
years = [year for year in range(1924, 2024) if year != 2005]
df = pd.DataFrame()

for year in years:
    url = f"https://www.hockey-reference.com/leagues/NHL_{year}_games.html"
    full_df = pd.read_html(url)
    regular_season_df = full_df[0]
    df = pd.concat([df, regular_season_df], ignore_index=True)
    time.sleep(random.randint(20, 35))

In [48]:
'''
url = "https://www.hockey-reference.com/leagues/NHL_2024_games.html"
full_df = pd.read_html(url)
'''

'\nurl = "https://www.hockey-reference.com/leagues/NHL_2024_games.html"\nfull_df = pd.read_html(url)\n'

In [49]:
#df = full_df[0]
df.head()

,Date,Time,Visitor,G,Home,G.1,Unnamed: 6,Att.,LOG,Notes
0,1923-12-15,NaN,Montreal Canadiens,1,Toronto St. Patricks,2,NaN,NaN,NaN,NaN
1,1923-12-15,NaN,Ottawa Senators,3,Hamilton Tigers,2,NaN,NaN,NaN,NaN
2,1923-12-19,NaN,Toronto St. Patricks,2,Ottawa Senators,5,NaN,NaN,NaN,NaN
3,1923-12-19,NaN,Montreal Canadiens,3,Hamilton Tigers,1,NaN,NaN,NaN,NaN
4,1923-12-22,NaN,Hamilton Tigers,2,Toronto St. Patricks,5,NaN,NaN,NaN,NaN

In [50]:
hockey_reference_data = r"C:\Users\gabri\Documents\hockey_reference_dataset.csv"
save_to_csv(df, hockey_reference_data)